#commentCarousel {
  overflow: hidden;

  .flex {
    justify-content: space-between;
    align-items: center;
  }
}

.glide__slides {
  display: flex;
}

.glide__arrows {
  display: flex;
  padding: 0 1rem;
  width: max-content;
  justify-content: space-between;
}

.glide__arrow {
  padding: .5rem 1rem;
  margin: .25rem .25rem 0;
}

.comment {
  padding: 2rem;
  border-radius: 12px;
}

.comment .text {
  color: var(--DARK_75);
  font-style: italic;
  letter-spacing: .05em;
  line-height: 2em;
}

svg {
  width: 30px;
  height: 30px;
  scale: 1;
}

svg path {
  stroke-width: 50px;
}

.fill svg {
  fill: var(--PRIMARY);
}

.fill,
.empty {
  display: inline;
}

form {
  width: 50%;
}

form .formInput .flex {
  align-items: center;
  width: max-content;
}

form label svg {
  cursor: pointer;
  transition: fill 0s, transform .3s;
}

form label svg:hover {
  transform: scale(1.3)
}

form label.active svg {
  fill: var(--PRIMARY);
}

form input[type='radio'] {
  opacity: 0;
  cursor: pointer;
  width: auto;
}

form input[type='radio']:first-of-type {
  margin-left: 1rem;
}

#addComment {
  height: 0;
  overflow: hidden;
  transform: all 10s linear;
  max-height: max-content;
  /* display: none; */
}

#addComment.active {
  height: 100vh;

}


#addComment .CTA {
  margin: 0;
  margin-top: 2rem;
  transform: translateX(0);
}