<div class="container">
  <div class="flex">
    <div>
      <h3 class="sectionTitle">informations utiles</h3>
      <ul>
        <li>
          <a href="/" class="link">mentions légales</a>
        </li>
        <li>
          <a href="/" class="link">politique de confidentialité</a>

        </li>
        <li>
          <a href="/" class="link">protection des données personnelles</a>
        </li>
      </ul>
    </div>
    <div>
      <h3 class="sectionTitle">plan du site</h3>
      {% include '_partials/_layout/_navigation.html.twig' %}
    </div>
    <div>
      <h3 class="sectionTitle">nous contacter</h3>
      <a class="link" href="tel:0123456789">0123456789</a>
      <a class="link" href="mailto:mon.mail@gmail.com">mon.mail@gmail.com</a>
      <a class="button CTA" href="/">nous contacter</a>
    </div>
  </div>
</div>
