<div class="container">
  <div class="flex">
    <a href="/"><h1 id="mainTitle">Garage <br> Vincent <br> PARROT</h1></a>
    {% include './_partials/_layout/_navigation.html.twig' %}
      <a id="phoneButton" href="tel:{{ store.phone }}" class="button CTA">{{ store.phone }}</a>
  </div>
</div>
