<div class="container">
  <div class="flex">
    <a href="/"><h1 id="mainTitle">Garage <br> Vincent <br> PARROT</h1></a>
    {% include './_partials/_layout/_navigation.html.twig' %}
      <a href="tel:0123456789" class="button CTA">01 23 45 67 89</a>
  </div>
</div>
