<nav class="navigation">
  <ul class="navList">
    <li><a class="navLink link" href="/">accueil</a></li>
    <li><a class="navLink link" href="/">véhicules d'occasion</a></li>
    <li><a class="navLink link" href="/">services</a></li>
    <li><a class="navLink link" href="/">contact</a></li>
  </ul>
</nav>