<nav class="navigation">
  <ul class="navList">
    <li><a class="navLink link" href="{{ path('app_home') }}">accueil</a></li>
    <li><a class="navLink link" href="{{ path('app_vehicules') }}">véhicules d'occasion</a></li>
    <li><a class="navLink link" href="/">services</a></li>
    <li><a class="navLink link" href="/">contact</a></li>
  </ul>
</nav>