{% extends 'base.html.twig' %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('assets/styles/vehicules/styles.css') }}" />
{% endblock %}
{% block body %}
  <section id="cars">
    <div class="container">
      
      <h2 class="sectionTitle">nos véhicules d'occasions</h2>
      <div class="grid">
        {% for car in cars %}
          {% include '_partials/_vehicules/_card.html.twig' %}
          {% include '_partials/_vehicules/_card.html.twig' %}
          {% include '_partials/_vehicules/_card.html.twig' %}
          {% include '_partials/_vehicules/_card.html.twig' %}
        {% endfor %}

      </div>
    </div>
  </section>
{% endblock %}
