form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 800px;
  width: 100%;
  padding: 1em;
}

form textarea {
  resize: vertical;
}

form select,
form input,
form textarea {
  margin-bottom: 2em;
  margin-top: .5rem;
  padding: .5rem .5rem;
  border: 1px solid transparent;
  outline: none;
}

form select:focus,
form input:focus,
form textarea:focus {
  border: 1px solid var(--PRIMARY);
}

form .CTA {
  margin-top: 1rem;
  font-weight: bold;
  font-size: 1.3rem;
}

form .CTA:hover {
  transform: scale(1.1);
  scale: 1;
}

@media screen and (min-width: 1024px) {
  form .w-50>.formInput {
    width: 49%;
    display: inline-block;
  }
}

form .w-50>.formInput * {
  width: 100%;
  display: inline-block;
}

form .formInput * {
  width: 100%;
}

form .errors {
  color: var(--ERROR);
  position: absolute;
  top: 100%;
  left: 0;
}