#cars .card {
  border-radius: 8px;
  width: 100%;
  height: 250px;
  position: relative;
  overflow: hidden;
}

#cars .card .cardShadow {
  box-shadow: var(--SHADOW_LIGHT_INSET);
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 100%;
  top: 0;
}

#cars .card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
  z-index: -10;
}

#cars .card .flex {
  color: var(--DARK);
  background: var(--LIGHT_75);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: .5rem 1rem;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  color: inherit;
  padding: 0 1rem;
}

#cars .card .price,
.price p {
  font-size: 2rem;
  font-weight: bold;
  text-align: right;
  width: max-content;
}

#cars .cardShadow .flex>div:first-of-type p {
  line-height: 1;
}


@media screen and (min-width: 768px) and (max-width: 1023px) {
  #cars .card {
    height: 300px;
  }
}

@media screen and (min-width: 1024px) {
  #cars .card {
    height: 250px;
  }

  #cars .card:hover {
    transform: scale(1.05);
  }
}