#detail .infos span {
  font-weight: bold;
}

#detail .infoTitle,
#detail #detailForm h3 {
  font-size: 1.5em;
  font-weight: bold;
  margin: 3rem 0 1rem;
}

#detail .infoTitle:first-of-type,
#detail #detailForm h3 {
  margin-top: 0;
}

#detail .infos ul,
#detail .images ul,
#detail p {
  margin: 1rem;
}

#detail .flex>div {
  flex: 1;
  margin: 1rem;
}

#detail .images {
  overflow: hidden;
}

#detail .images #mainPicture {
  width: 100%;
  object-fit: contain;
  height: 400px;
  background-color: black;
}

#detail .imageCarousel {
  overflow-x: auto;
  overflow-y: hidden;
  height: 100px;

}

#detail .imageCarousel img {
  object-fit: cover;
  height: 100%;
  width: auto;
  aspect-ratio: 1/1;
  margin-right: .5rem;
  cursor: pointer;
}

#detail .imageCarousel img:last-of-type {
  margin-right: 0;
}

#detail .infos ul li,
#detail .images ul li {
  margin: .5rem;
}

#detail .infos ul li::before,
#detail .images ul li::before {
  content: '';
  display: inline-block;
  width: 10px;
  height: 4px;
  position: relative;
  top: -.25em;
  border-radius: 50%;
  background: var(--PRIMARY);
  margin-right: .5rem;
}

#detail .container>.flex {
  flex-direction: column;
}

#detail #detailForm {
  flex: initial;
  background: var(--LIGHT);
  overflow: hidden;
  margin: 0;
  height: auto;
  max-height: 0;
}

#detail #detailForm.active {
  background: var(--LIGHT);
  max-height: 100vh;
  margin: 3rem 1rem 1rem;
}


#detail .w-50>.formInput {
  width: 100%;
}



@media screen and (min-width: 1024px) {
  #detail .container>.flex {
    flex-direction: row;
  }

  #detail #detailForm {
    width: auto;
    max-width: 0;
    max-height: 100%;
    flex: 0;
  }

  #detail #detailForm.active {
    margin: 1rem 2rem;
    height: auto;
    flex: 1;
    max-width: 100vw;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1400px) {
  #detail .images.hidden {
    width: 0;
    flex: initial;
  }
}