.button {
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  display: inline-block;
  padding: 1rem 1rem;
}

.outlined {
  border: 2px solid var(--DARK_75);
  background: var(--LIGHT);
  color: var(--DARK_75);
}

.outlined:hover {
  border: 2px solid var(--PRIMARY);
  color: var(--PRIMARY);
}

.filled {
  background: var(--DARK_75);
  color: var(--PRIMARY);
}

.CTA {
  background: var(--PRIMARY);
  color: var(--DARK_75);
  text-transform: uppercase;
  border: none;
}

.CTA:hover {
  scale: 1.1;
  box-shadow: var(--SHADOW_LIGHT_INSET);
}

.link {
  color: var(--DARK_75);
  text-transform: uppercase;
  display: inline-block;
}

.link:hover {
  color: var(--PRIMARY);
}

@media screen and (min-width: 768px) {
  .button {
    padding: 1rem 2rem;
  }
}