:root {
  /* colors */
  --PRIMARY: #FFC107;
  --SECONDARY: #FF9800;
  --ERROR: #F44336;
  --SUCCESS: #4CAF50;
  --INFO: #03A9F4;
  --DARK: #212121;
  --LIGHT: #F5F5F5;
  
  /* opacities */
  --DARK_75: #212121BF;
  --LIGHT_75: #F5F5F5BF;
  --LIGHT_00: #F5F5F500;

  /* gradients */
  --GRADIENT_PRIMARY_DARK: radial-gradient(var(--PRIMARY) 0%, var(--DARK) 140%);
  --GRADIENT_LIGHT_DARK: radial-gradient(var(--LIGHT) 0%, var(--PRIMARY) 140%);
  --GRADIENT_LIGHT_LIGHT_00: linear-gradient(180deg, var(--LIGHT) 60%, var(--LIGHT_00) 90%);

  /* box shadows colors */
  --SHADOW_BIG_LIGHT_INSET: 0 0 12px 16px var(--LIGHT) inset;
  --SHADOW_LIGHT_INSET: 0 0 12px 6px var(--LIGHT) inset;
  --SHADOW_DARK_75_INSET: 0 0 12px 6px var(--DARK_75) inset;
  --SHADOW_LIGHT: 0 0 12px 6px var(--LIGHT);
  --SHADOW_DARK_75: 0 0 12px 6px var(--DARK_75);
}
