#footer {
  background: var(--LIGHT);
  padding: 1rem 2rem;
}

#footer .sectionTitle {
  font-size: 1.2rem;
}

#footer .navList {
  flex-direction: column;
}

#footer .navList .navLink {
  padding: .5rem 0;
  text-transform: uppercase;
}

#footer .navList .navLink:hover {
  scale: none;
}

#footer .flex {
  justify-content: space-between;
}

#footer .flex>div {
  flex: 1;
}

@media screen and (max-width: 769px) and (orientation: portrait) {
  #footer .flex {
    display: block;
  }

  #footer .flex>div {
    margin-bottom: 3rem;
  }
}

#footer .store {
  margin: 0;
  border: none;
  padding: 2rem 0;
}

#footer .link {
  text-transform: lowercase;
}

#footer form {
  margin: 0;
}