@import '../animations/animations.css';

#header {
  position: sticky;
  top: 0;
  z-index: 100;
  background: var(--GRADIENT_LIGHT_LIGHT_00);
  padding: 1rem .5rem;
}

header .container .flex {
  justify-content: space-between;
  align-items: center;
}

#header #mainTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

#header .container #mainTitle h1 {
  color: var(--DARK);
  font-size: 1rem;
  letter-spacing: .5em;
  text-align: center;
  width: min-content;
}

#header .container #mainTitle::before {
  content: '';
  height: 50px;
  width: 50px;
  background: url('../../images/logo.webp') no-repeat center center;
  background-size: contain;
  display: block;
}

#burgerMenu {
  background: none;
  border: none;
  outline: none;
  margin-left: 8px;
  position: relative;
  width: 50px;
  height: 50px;
}

#header .CTA {
  font-weight: bold;
  font-size: 1.2rem;
  letter-spacing: .05em;
  position: relative;
}

#header .CTA::before {
  content: '📞';
  margin-right: .5rem;
  display: inline-block;
}

#burgerMenu svg {
  fill: var(--DARK);
  width: 100%;
  height: 100%;
}

#burgerMenu svg {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transform: rotate(30deg) scale(.8);
}

#burgerMenu svg.active {
  opacity: 1;
  transform: rotate(0deg) scale(1);
}

@media screen and (min-width: 1024px) {
  #header {
    padding: 1rem 2rem;
  }

  #header .container #mainTitle {
    padding: 1rem;
    flex-direction: row;
  }

  #burgerMenu {
    display: none;
    background: none;
    border: none;
    outline: none;
  }

  #header .CTA:hover::before {
    animation: shake .6s infinite ease-in-out;
  }
}