.navigation {
  width: max-content;
}

.navList {
  display: flex;
}

.navLink {
  padding: 1rem 2rem;
  color: var(--DARK);

  &.active {
    color: var(--PRIMARY);
    font-weight: bold;
  }
}

.navLink:hover {
  text-transform: uppercase;
  scale: 1.1;
}