{% extends 'base.html.twig' %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('assets/styles/contact/styles.css') }}" />
{% endblock %}

{% block body %}
  <section id="contact">
    <div class="container">
      <h2 class="sectionTitle">besoin d'informations ?</h2>
      <div class="flex">
        <div id="globalInfos" class="flex">
          <div id="companyInfo">
            <h3>nous sommes …</h3>
            <p>{{ company.text }}</p>
          </div>
          <div id="storeInfo">
            <h3>… près de chez vous</h3>
            <p>
              {% for store in stores %}
                {% if not loop.first %}
                  {% if not loop.last %}
                    ,
                  {% else %}
                    ou encore
                  {% endif %}
                {% endif %}
                {{ store.city }}
              {% endfor %}, nous sommes déjà présents dans plusieurs villes de France.
            </p>
            {# debut #}
            {# {% include '_partials/_layout/_openings.html.twig' %} #}
            {# fin #}
          </div>
        </div>
        {# contact form #}
        {% include '_partials/_layout/_form.html.twig' %}
      </div>
    </div>
  </section>
{% endblock %}
