{% extends 'base.html.twig' %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('assets/styles/contact/styles.css') }}" />
{% endblock %}

{% block body %}
  <section id="contact">
    <div class="container">
      <h2 class="sectionTitle">besoin d'informations ? c'est ici</h2>
      <div class="flex">
        <div id="globalInfos" class="flex">
          <div id="companyInfo">
            <h3>nous sommes …</h3>
            <p>{{ company.text }}</p>
          </div>
          <div id="storeInfo">
            <h3>… près de chez vous</h3>
            
            
            {# debut #}
{% include '_partials/_layout/_openings.html.twig' %}
            {# fin #}
          </div>
        </div>
        {# contact form #}
        {% include '_partials/_layout/_form.html.twig' %}
      </div>
    </div>
  </section>
{% endblock %}
