<section id="heroBanner">
  {% for key, service in services %}
    <div class="services {% if loop.last %}active{% endif %}">
      <img src="{{ asset('assets/images/' ~ service.image) }}" alt="image du service" />
      <div class="service">
        {{ service.details }}
        <br />
        <a class="link" href="{{ path('app_services') }}">plus d'informations</a>
      </div>
      <h2>{{ key }}</h2>
    </div>
  {% endfor %}
</section>
